/* BODY { font-family: Tahoma, Helvetica; background-color: #eaeaea } */

DIV.codes { border: solid #dddddd 1px; background-color: white; padding: 6px; }
DIV.inputs { border: solid #dddddd 1px; background-color: white; padding: 6px; }



.codes{}

/* clanek specielne dodano */
span.t {color: blue;}   /* tag     */
span.a {color: green;}  /* atribut */
span.h {color: red;}	/* hodnota */
span.s {color: #666666;}
