.color-primary-0 { color: #930000 }	/* Main Primary color */
.color-primary-1 { color: #D43535 }
.color-primary-2 { color: #B21515 }
.color-primary-3 { color: #6E0000 }
.color-primary-4 { color: #440000 }

body {
	background-color: #440000;
}

#container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

nav {
	background-color: #930000;
	position: fixed;
	width: 79.5%;
	top: 0.5em;
}

nav img {
	display: none;
}

/* hneva ma */
nav form {
	top: 0;
	margin: 1em;
	margin-top: -2.5em;
	float: right;
}

nav ul {
	margin: 1em;
	padding: 0;
	list-style-type: none;
}

nav ul li {
	background-color: #930000;
	display: inline;
	padding:0.5em;
	margin-right:0.25em;
	text-align: center;
	border: 2px outset black;
}

header {
	background-color: #B21515;
	margin-top: 4.75em;
	padding: 0.25em;
	text-align: center;
}

header form {
	float: right;
	padding: 0.25em;
}

article {
	background-color: #D43535;
	margin-left: 18em;
	margin-top: 0.5em;
	padding: 1em;
	padding-left: 4em;
}
/*
submenu {
	float: left;
	width: 15em;
}
*/
footer {
	background-color: #930000;
	margin-top: 0.5em;
	padding: 0.5em;
	text-align: right;
}
